body {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background-color: #f2f2f2;
}

div {
   /*width: 750px;*/
   max-width: 950px;
   width: 100%;
   height: 140px;
   padding: 20px;
   border: 5px solid #f2f2f2;
   margin: 20px 10px 20px 10px;
   background-color: lightblue;

 }

#boxA {
   float: right;
   margin: 15px;
   width: 100px;
   height: 100px;
   border-radius: 5px;
   border-color: lightblue;
   padding: 1em;
}

/*.clearA {
   clear: right;
}*/

#boxB {
   float: left;
   margin: 15px;
   width: 100px;
   height: 100px;
   border-radius: 5px;
   background-color: lightblue;
   padding: 1em;
}

/*.clearB {
   clear: left;
}*/

.clearA {
   text-align: left;
   color: black;
}

.clearB {
   text-align: right;
   color: black;
}

h1 {
   margin: 20px;
   padding: 20px;
   color: black;
   background-color: rgb(116, 197, 224);
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 35px;
}

h3 {
   font-family: cursive;
   font-size: 18px;
}