h1 {
    text-align: center;
    padding: 50px;
    background-color: palevioletred;
    color: white;
    font-size: 40px;
}
hr {
    height: 5px;
    background-color: white;
}
body {
    background-color: #f2f2f2;
    margin: 30px;
}
.navigationBar {
    background-color: rgb(188, 185, 185);
    text-align: center;
    padding: 5px;
    font-size: 18px;
}
#image {
float: right;
margin: 15px;
width: 100px;
height: 100px;
border-radius: 5px;
border-color: lightblue;
padding: 1em;
}   
.navigationBar {
    position: sticky;
}