h1 {
    text-align: center;
    padding: 50px;
    background-color: palevioletred;
    color: white;
    font-size: 40px;
}
hr {
    height: 5px;
    background-color: white;
}
body {
    background-color: #f2f2f2;
    margin: 30px;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(188, 185, 185);
    text-align: center;
    padding: 18px;
    font-size: 18px;
    word-spacing: 80px;
    width: 92.40%;
    cursor: pointer;
}
#image {
float: right;
margin: 0px;
width: 150px;
height: 150px;
border-radius: 5px;
border-color: lightblue;
padding: 0em;
} 

p {
    padding: 55px;
}

h2 {
    background-color: rgb(188, 185, 185);
    padding: 10px;
    cursor: pointer;
}